In [87]:
import numpy as np
import pandas as pd

In [88]:
dict = {'Maths':[80, 90, np.nan, 95], 
        'Chemistry': [60, 65, 56, np.nan], 
        'Physics':[np.nan, 57, 80, 78],
       'Biology' : [78,83,67,np.nan]}

In [89]:
df=pd.read_csv("studentsnew.csv")

In [90]:
df

   Rank  Python  Machine Learning
0     1    89.0              95.0
1     2     NaN              83.0
2     3    70.0               NaN
3     4    68.0              75.0
4     5     NaN              70.0
5     6    58.0              55.0
6     7    55.0              50.0
7     8    50.0               NaN
8     9    50.0               NaN
9    10    45.0              46.0

In [91]:
df.isna().sum()

Rank                0
Python              2
Machine Learning    3
dtype: int64

In [92]:
from sklearn.impute import KNNImputer

In [93]:
imputer = KNNImputer(n_neighbors=2)
dt=imputer.fit_transform(df)

In [94]:
df.isna().sum()

Rank                0
Python              2
Machine Learning    3
dtype: int64

In [104]:
colname=df.columns
dt=pd.DataFrame(dt)
dt.columns=colname
print(dt)

   Rank  Python  Machine Learning
0   1.0    89.0              95.0
1   2.0    69.0              83.0
2   3.0    70.0              79.0
3   4.0    68.0              75.0
4   5.0    60.0              70.0
5   6.0    58.0              55.0
6   7.0    55.0              50.0
7   8.0    50.0              60.0
8   9.0    50.0              48.0
9  10.0    45.0              46.0